// Site-specific customisations
@import "variables.less";

.navbar-rkm {
  &:extend(.navbar-default all);
  border: none;
}

h1 .permalink, h2 .permalink,
h3 .permalink, h4 .permalink,
h5 .permalink, h6 .permalink {
  display: none;
  visibility: hidden;
}

h1:hover .permalink, h2:hover .permalink,
h3:hover .permalink, h4:hover .permalink,
h5:hover .permalink, h6:hover .permalink {
  display: inline;
  visibility: visible;
}

/*
   Come back to this in a few years and add to headings if Chromium supports
   hyphenation yet.
*/
#content p /*, h1, h2, h3, h4, h5, h6 */ {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
}

pre {
  color: @base00;
  background-color: #eee8d5;
  overflow: auto;
  word-wrap: normal;
}

pre span.org-builtin {
  color: @base00;
  font-weight: bold;
}

pre span.org-comment {
  color: @base1;
}

pre span.org-comment-delimiter {
  color: @base1;
}

pre span.org-constant {
  color: @blue;
  font-weight: bold;
}

pre span.org-doc {
  color: @cyan;
}

pre span.org-function-name {
  color: @blue;
}

pre span.org-keyword {
  color: @green;
  font-weight: bold;
}

pre span.org-org-macro {
  color: @orange;
}

pre span.org-preprocessor {
  color: @blue;
}

pre span.org-string {
  color: @cyan;
}

pre span.org-type {
  color: @yellow;
}

pre span.org-variable-name {
  color: @blue;
}
